.container {
    margin: 116px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;

}

.title-field {
    padding: 70px 0 12px 94px;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.input-text {
    margin-left: 94px;
    padding-left: 15px;
    width: 80%;
    height: 30px;
    font-size: 16px;
    border: solid 1px #BFBFBF;
}

.btn-container {
    height: 30px;
    margin-left: 94px;
}